/* Row 18 ABOUT PAGE STYLE v3*/

body{	
	background-color: white;
	/*background: url("images/bgimage.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
	margin: 0;
	padding: 0;
	display: block;
}

/*#wrapper{
	width: 960px;
}*/

header{
	margin: 0, 0, 0, 40px;
	padding: 40px;
	position: relative;
	width: 100%;
	height: 40px;
	background-color: #024154;
	display: block;
	/*background-color: #024154;
	display: block;
	height: 100px;
	width: 100%;*/
}

/* Row 18 Logo Text*/
img{
	width: 110px;
	margin-top: 15px;
}

nav{
	width: 800px;
	float: right;
	margin: 0px;
	/*bottom: 0;*/
}

ul {
	font-family: "Arvo Serif" serif;
	font-size: 14px;
	font-weight: normal;
	color: white;
	text-align: left;
	list-style-type: none;
	margin-top: 10px;
	margin-right: 100px;
	padding: 0px;
	overflow: hidden;
}

ul li{
	float: right;
}

ul a:link, a:visited {
		display: block;
		font-weight: normal;
		color: white;
		text-align: left;
		padding: 20px;
		text-decoration: none;
		text-transform: lowercase;
}

ul a:hover, a:active {
		text-decoration: underline;
}

.clearfix:after {   
	visibility: hidden;   
	display: block;   
	font-size: 0;   
	content: " ";  
	clear: both;   
	height: 0; }

#outerwrapper{
	/*border: 10px solid green;*/
	background-color: white;
	width: 100%;
}

#headline{
	/*border: 10px solid red;*/
	background-color: white;
	padding: 0 15px;
	margin-left: 15px;
	margin-top: 60px;
}

#maincontentwrapper{
	/*border: 10px blue solid;
	background-color: green;*/
	overflow: auto;
	margin-bottom: 30px;
}

#col1{
	/*background-color: #05b3fc;*/
	padding: 0;
	margin: 0;
	width: 40%;
	float: left;
}

#col2{
	/*background-color: #84d9fc;*/
	/*padding: 0 15px;*/
	padding: 0px;
	/*margin: 0 25px;*/
	margin-left: 50px;
	width: 40%;
	float: left;
}

#headchef img{
	width: 100%;
	padding-bottom: 10px;
}

#somm img{
	width: 100%;
	padding-bottom: 10px;
}

/*#mainsection{
	width: 100%;
	height: 950px;
	display: block;
	background-color: red;
	padding:40px;
}*/

span{
	font-family: "Helvetica" sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	color: black;
}

/*#logo{
	width: 400px;
	margin: 100px auto;
}

#logo img{
	width: 100%;
}*/

#footerwrapper{
	clear: both;
	/*border: 10px solid pink;
	background-color: rgba(0,0,0,.25);*/
	border: 20px solid #024154;
	background-color: #024154;
	width: 100%;
}

#footercontentwrapper{
	/*border: 10px blue solid;*/
	/*background-color: #84d9fc;*/
	overflow: auto;
}

#footcol1 {
	/*background-color: rgba(0,0,0,.25);*/
	padding: 0 15px;
	margin: 0 15px;
	width: 12%;
	float: left;
}

#footcol2{
	/*background-color: rgba(0,0,0,.25);*/
	padding: 0 15px;
	margin: 0 5px;
	width: 15%;
	float: left;
}

#footcol3{
	/*background-color: rgba(0,0,0,.25);*/
	padding: 0 15px;
	margin: 0 5px;
	width: 15%;
	float: left;
}


/*footer{
	clear: both;
	margin: 40px, 0, 20px, 40px;
	padding: 40px;
	position: relative;
	width: 100%;
	height: 150px;
	background-color: #024154;
	display: block;
	float: left;
}*/

/*.column{
	display: block;
	float: left;
	width: 200px;
	height: 100px;
}*/

.h1line h1{
	color: #024154;
	font-family: "Arvo Serif" serif;
	font-weight: normal;
	font-size: 60px;
	font-style: italic;
	/*border-bottom: 2px solid black;
	width: 150px;
	display: inline-block;*/
}

.title h1{
	clear: both;
	color: #024154;
	font-family: "Arvo Serif" serif;
	font-weight: normal;
	font-size: 30px;
	margin: 30px 0 0 0;
}

.foot h2{
	color: white;
	font-family: "Arvo Serif" serif;
	font-weight: normal;
	font-size: 20px;
	text-transform: lowercase;
	display: inline-block;
}

h1{
	color: #024154;
	font-family: "Arvo Serif" serif;
	font-weight: normal;
	font-size: 40px;
}	

h2{
	color: white;
	font-family: "Arvo Serif" serif;
	font-weight: normal;
	font-size: 20px;
	text-transform: lowercase;
}

p{
	font-family: "Helvetica" sans-serif;
	font-weight: normal;
	font-size: 11px;
	line-height: 20px;
	color: white;
}

.bodycopy p{
	font-family: "Helvetica" sans-serif;
	font-weight: normal;
	font-size: 12px;
	line-height: 20px;
	color: black;
	display: inline-block;
}

.footcopy p{
	font-family: "Helvetica" sans-serif;
	font-weight: normal;
	font-size: 12px;
	line-height: 20px;
	color: white;
	float: left;
}
/*.image-text-col{
	display: block;
	float: left;
	width: 500px;
	height: 700px;
}*/

#email p{
	background: none;
	color: white;
	font-family: "Helvetica" sans-serif;
	font-weight: normal;
	font-size: 12px;
	text-transform: lowercase;
	float: left;
}

#email a:link {
	color: white;
	font-family: "Helvetica" sans-serif;
	font-weight: normal;
	font-size: 12px;
	text-transform: lowercase;
	float: left;
}

#copyright{
	/*display: block;
	float: left;*/
	clear: both;
	background-color: #024154;
	bottom: 0;
	overflow: auto;
}

.copyrightcopy p{
	/*clear: both;*/
	color: white;
	font-family: "Helvetica" sans-serif;
	font-weight: normal;
	font-size: 10px;
	/*position: relative;*/
	/*padding: 0 0 20px 20px;*/
	padding: 0 15px;
	margin: 0 15px;
}



