/* WEEK 9 Docens Design_v3*/

body{
	font-size: 14px;
	display: block;
	height: 100%;
}

/* ---- HEADER: Logo and Nav ----*/

header{
	margin: 0 auto;
	display: block;
	width: 100%;
	height: 5em;
	background-color: rgb(0,0,0);
}

#logo_area{
	width: 150px;
	margin: 1.5em 0 0 2em;
	display: block;
	float: left;
}

#logo_area img{
	width: 100%;
	position: relative;
	transform: translateX (-50%);
}

#main_nav{
	display: block;
	width: 500px;
	margin: 2em 0 0 0;
	float: right;
	/*background-color: pink;*/
}

#main_nav nav{
	display: block;
	float: right;
}

#main_nav ul {
	display: block;
	float: right;
	width: 500px;
	font-family: "Source Sans Pro" sans-serif;
	font-size: 1em;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	color: white;
	list-style-type: none;
	overflow: hidden;
	letter-spacing: 0.05em;	
	transform: translateY (-50%);
}

#main_nav ul li{
	display: inline-block;
	height: 3em;
	width: 120px;
	text-align: center;
}

#main_nav ul a:link, a:visited {
		display: inline-block;
		font-weight: 400;
		color: white;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		width: 120px;
		height: 3em;
		padding: 1em;
}

#main_nav ul a:hover, a:active {
		display: inline-block;
		font-weight: 400;
		color: black;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		background-color: white;
		width: 120px;
		height: 3em;
		padding: 1em;
}

/* ------------------ MAINBODY Columns: Tagline and Squares ----*/

#mainbody{
	/*border: 10px blue solid;
	background-color: green;*/
	overflow: auto;
	width: 100%;
	display: block;
}

#col1 {
	/*background-color: #05b3fc;*/
	padding: 0;
	margin: 12em;
	width: 30%;
	display: block;
	position: absolute;
}

#tagline h1{
	font-family: "Source Sans Pro" sans-serif;
	font-size: 3em;
	font-weight: 300;
	color: #000;
	text-align: center;
	letter-spacing: -0.01em;
	padding-bottom: 20px;	
}

#services p{
	display: block;
	font-family: "Source Sans Pro" sans-serif;
	font-size: 1.15em;
	font-weight: 400;
	color: #000;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: -0.01em;
	padding-bottom: 30px;	
}

#portfolio{
	display: block;
	width: 100%;
}

#portfolio_button{
	display: block;
	width: 150px;
	background-color: rgb(61, 122, 247);
	margin: 0 auto;
}

#portfolio_button h3{
	display: block;
	font-family: "Source Sans Pro" sans-serif;
	font-size: .95em;
	font-weight: 400;
	color: white;
	text-align: center;
	text-transform: uppercase;
	margin: 0 auto;
	letter-spacing: .05em;
}

#portfolio_button a{
	display: inline-block;
	width: 100%;
	font-family: "Source Sans Pro" sans-serif;
	font-size: .95em;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	margin: 0 auto;
	padding: 1em;
	letter-spacing: .05em;
	color: #ffffff;
	text-decoration: none;
}

#portfolio_button a:hover, a:active {
	color: #ffffff;
	background-color: #000;
	display: block;
	width: 100%;
}

#square_wrapper{
	width: 30%;
	float: right;
	margin-right: 10em;
	margin-left: 10em;
}

#col2{
	/*background-color: #84d9fc;*/
	margin: 0 0 0 10em;
	width: 100%;
	float: right;
	/*overflow: hidden;*/
}

#blue_square{
	width: 100%;
	margin: 0 auto;
	display: block;
	overflow: hidden;
	position: relative;
}

#blue_square img{
	margin: 0 auto;
	display: block;
	width: 100%;
}

#col3{
	/*background-color: #84d9fc;*/
	margin: 0 0 0 10em;
	width: 100%;
	float: right;
	overflow: hidden;
	bottom: 0;
}

#black_square{
	width: 100%;
	margin: 0 auto;
	display: block;
	overflow: hidden;
	position: relative;
	bottom: 0;
}

#black_square img{
	margin: 0 auto;
	display: block;
	width: 100%;
}

/* --------------------------- ABOUT CONTENT ----*/

#about{
	width: 100%;
	background-color: rgb(61, 122, 247);
	overflow: auto;
}

#col1_about{
	width: 15%;
	float: left;
	margin: 60px 0 0 60px;
}

#col1_about h2{
	font-family: "Source Sans Pro" sans-serif;
	font-size: 2em;
	font-weight: 300;
	color: white;
	text-align: left;
	line-height: 1.5em;
	letter-spacing: .05em;
}

#col2_abouttext{
	width: 50%;
	float: left;
	margin: 60px 0 60px 0;
}

#col2_abouttext p{
	font-family: "Source Sans Pro" sans-serif;
	font-size: 2em;
	font-weight: 200;
	color: white;
	text-align: left;
	line-height: 1.5em;
}

/* ---- WOW IMAGE ----*/

#wow_image{	
width: 100%;
overflow: hidden;
display: block;
}

#wow{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	display: block;
}

#wow img{
	width: 100%;
	display: block;
}

/* ---- EXPERTISE ----*/

#expertise{
	width: 100%;
	background-color: rgb(61, 122, 247);
	overflow: auto;
}

#expertise_title{
	width: 20%;
	float: left;
	margin: 30px 0 30px 60px;
}

#expertise_title h2{
	font-family: "Source Sans Pro" sans-serif;
	font-size: 2em;
	font-weight: 300;
	color: white;
	text-align: left;
	line-height: 1.5em;
	letter-spacing: .05em;
}

#expert_wrapper{
	width: 100%;
	margin: 0 auto;
	background-color: white;
	display: block;
}

#expert_icons{
	width: 50%;
	margin: 0 auto;
	padding: 3em;
	display: block;
}

.icon_info{
	width: 100%;
	height: 130px;
	margin-bottom: 1em;
	display: inline-block;
	clear: both;
}

.icon_img{
	margin: 0 auto;
	clear: both;
}

.icon_type{
	width: 5em;
	margin: 1.5em 2em 6em 2em;
	float: left;
	display: inline-block;
}

#info h4{
	margin: 1.5em 0 0 0;
	display: block;
	font-family: "Source Sans Pro" sans-serif;
	font-size: 1.2em;
	font-weight: 400;
	color: #000;
	text-align: left;
	line-height: 1.5em;
	text-transform: uppercase;
}

#info p{
	font-family: "Source Sans Pro" sans-serif;
	font-size: 1.2em;
	font-weight: 300;
	color: #000;
	text-align: left;
	line-height: 1.5em;
}

/* ---- FOOTER ----*/

footer{
	width: 100%;
	background-color: #000;
	display: block;
}

#contact_wrapper{
	width: 100%;
	margin: 0 auto;
	position: relative;
	display: block;
}

#contact{
	width: 20%;
	height: 115px;
	margin: 0 auto;
	padding: 2em;
	display: block;
}

.contact_heading h3{
	margin: 0 auto;
	display: block;
	font-family: "Source Sans Pro" sans-serif;
	font-size: 1em;
	font-weight: 400;
	color: #ffffff;
	text-align: center;
	line-height: 1.5em;
	text-transform: uppercase;
	letter-spacing: .05em;
	clear: both;
}

#email_contact p{
	margin: 0 auto;
	padding-top: 1em;
	display: block;
	font-family: "Source Sans Pro" sans-serif;
	font-size: 1em;
	font-weight: 300;
	color: #ffffff;
	text-align: center;
	line-height: 1.5em;
	text-transform: lowercase;
	letter-spacing: .05em;
	text-decoration: none;
}

#email_contact a{
	margin: 0 auto;
	display: block;
	font-family: "Source Sans Pro" sans-serif;
	font-size: 1em;
	font-weight: 300;
	color: #ffffff;
	text-align: center;
	line-height: 1.5em;
	text-transform: lowercase;
	letter-spacing: .05em;
	text-decoration: none;
}

#email_contact a:hover, a:active {
	text-decoration: underline;
	color: #ffffff;
}

#email_contact a:link a:visited{
	margin: 0 auto;
	display: block;
	font-family: "Source Sans Pro" sans-serif;
	font-size: 1em;
	font-weight: 300;
	color: #ffffff;
	text-align: center;
	line-height: 1.5em;
	text-transform: lowercase;
	letter-spacing: .05em;
	text-decoration: none;
}

#mobile_menu{
	display: none;
}

#mobile_logo_area1{
	display: none;
}

#nav_mobile{
	display: none;
}

#logo_mobile{
	display: none;
}

#menu{
	display: none;
}

.clearfix:after {   
	visibility: hidden;   
	display: block;   
	font-size: 0;   
	content: " ";  
	clear: both;   
	height: 0; 
}
/* --------------------------------- MEDIA QUERIES ----*/

/* -------------------- MEDIA QUERY IPHONE 6+ ----*/

@media screen and (max-width:1080px){

#mainbody{
	/*border: 10px blue solid;
	background-color: green;*/
	overflow: auto;
	width: 100%;
	display: block;
}

#col1 {
	/*background-color: #05b3fc;*/
	padding: 0;
	margin: 8em 0 0 8em;
	width: 30%;
	display: block;
	position: absolute;
}
}

/* -------------------- MEDIA QUERY IPHONE 6+ ----*/

@media screen and (max-width:1021px){

header{
	margin: 0 auto;
	display: block;
	width: 100%;
	height: 5em;
	background-color: rgb(0,0,0);
}

#logo_area{
	width: 150px;
	margin: 1.5em 0 0 2em;
	display: block;
	float: left;
}

#logo_area img{
	width: 100%;
	position: relative;
	transform: translateX (-50%);
}

#mainbody{
	/*border: 10px blue solid;
	background-color: green;*/
	overflow: auto;
	width: 100%;
	display: block;
}

#col1 {
	/*background-color: #05b3fc;*/
	padding: 0;
	margin: 8em 0 0 8em;
	width: 30%;
	display: block;
	position: absolute;
}
}

/* -------------------- MEDIA QUERY IPHONE 4-5 960px ----*/
@media screen and (max-width:960px){

#main_nav{
	display: none !important;
}

#logo_area{
	display: none !important;
}

footer{
	display: none !important;
}

#logo_mobile{
	width: 100%;
	margin: 0 auto;
	display: block;
}

#logo_box{
	width: 150px;
	margin: 0 auto;
	display: block;
	padding: 1.3em;
}

#logo_box img{
	width: 150px;
}

#nav_mobile{
	display: block;
	width: 100%;
	margin: 0 auto;
	position: fixed;
	bottom:0;
	z-index:102;
	line-height: 10px;
	background-color: pink;
}

label {
		display: block;
		width: 100%;
	  	cursor: pointer;
		padding:1.2em 2em;
		font-family: "Source Sans Pro" sans-serif;
		font-size: 1em;
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;
		color: white;
		list-style-type: none;
		overflow: hidden;
		letter-spacing: 0.05em;	
		line-height: 20px;
	}

#menu_toggle{
		display: none;
	}

#menu_list{
		display: none;
	}

#menu_toggle:checked + #menu_list{
		display:block;
		width:100%;
		height: 20em;
		position: absolute;
		top:-170px;
		background-color: #000;
		font-family: "Source Sans Pro" sans-serif;
		font-size: 1em;
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		color: white;
		list-style-type: none;
		letter-spacing: 0.05em;	
		line-height: 3em;
	}

/*#menu_list{
	display: block;
	width: 100%;
	font-family: "Source Sans Pro" sans-serif;
	font-size: 1em;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	color: white;
	list-style-type: none;
	overflow: hidden;
	letter-spacing: 0.05em;	
	line-height: 3em;
}*/

#menu_list ul {
	display: block;
	width: 100%;
	font-family: "Source Sans Pro" sans-serif;
	font-size: 1em;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	list-style-type: none;
	letter-spacing: 0.05em;	
	line-height: 3em;
}

#menu_list ul li{
	display: block;
	width: 100%;
	font-family: "Source Sans Pro" sans-serif;
	font-size: 1em;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	list-style-type: none;
	letter-spacing: 0.05em;	
	line-height: 3em;
}

#menu_list ul a:link, a:visited {
		display: block;
		width: 100%;
		font-weight: 400;
		color: white;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		background-color: white;
		line-height: 3em;
}

#menu_list ul a:hover, a:active {
		display: block;
		width: 100%;
		font-weight: 400;
		color: black;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		background-color: white;
		line-height: 3em;
}

#mainbody{
	/*border: 10px blue solid;
	background-color: green;*/
	overflow: auto;
	width: 100%;
	display: block;
	position: relative;
}

#col1 {
	/*background-color: #05b3fc;*/
	padding: 0;
	margin: 6em auto;
	width: 100%;
	display: block;
	position: absolute;
	z-index: 1;
}

#square_wrapper{
	width: 30%;
	height: 500px;
	left: 35%;
	margin: 0;
	float: none;
	position: relative;
}

#col3{
	/*background-color: #84d9fc;*/
	margin: 0 0 0 10em;
	width: 100%;
	overflow: hidden;
	bottom: 0;
	position: absolute;
}

}

	