/* Docens Logo */
img{
	width: 300px;
	padding-top: 50px;
	padding-left: 25px;
	background-color: none;
}

body {
	background: url("images/bluesquare.png");
	background-size: cover;
	margin: 100px;
}

.nav {
	font-family: "Helvetica";
	font-size: 12px;
	font-weight: normal;
	color: white;
	text-align: left;
	list-style-type: none;
	margin: 0px; 
	padding: 0px;
	overflow: hidden;
}

.nav li{
	float: right;
}

.nav a:link, a:visited {
		display: block;
		width: 50px;
		font-weight: bold;
		color: white;
		text-align: left;
		padding: 20px;
		text-decoration: none;
		text-transform: uppercase;
}

.nav a:hover, a:active {
		text-decoration: underline;
		width: 50px;
		color: white;
}

h1 {
	color: white;
	text-align: left;
	font-family: "Helvetica";
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: rgba(0,0,0,0.5);
	margin-top: 50px;
	width: 150px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 7px;
}

#slogan {
	color: white;
	font-family: "Helvetica";
	font-size: 50px;
	font-style: italic;
	font-weight: bold;
	margin-top: 30px;
	padding-left: 125px;
}

div p {
	color: rgba(0,0,0,0.7);
	font-family: "Helvetica";
	font-size: 16px;
	font-weight: normal;
	background-color: rgba(255,255,255,0.5);
	margin-top: 40px;
	width: 600px;
	padding: 20px;
}

#email p{
	background: none;
}

#email a:link {
	color: rgba(0,0,0,0.7);
	font-family: "Helvetica";
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}

